<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookAppID</key>
	<string>729261539197786</string>
	<key>FacebookClientToken</key>
	<string>2e429ede2f3e316adb810342e28b693c</string>
	<key>dfd</key>
	<string></string>
</dict>
</plist>
